In [2]:
import pandas as pd

# 1. Create DataFrame
students_data = pd.DataFrame({
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eva'],
    'Age': [20, 22, 19, 21, 20],
    'Grade': ['A', 'B', 'A', 'C', 'B'],
    'Marks': [85, 78, 92, 65, 74]
})

# 2. Access Data
first_3_rows = students_data.head(3)
name_marks = students_data[['Name', 'Marks']]
grade_A_students = students_data[students_data['Grade'] == 'A']

# Print results
print("First 3 rows:\n", first_3_rows)
print("\nName and Marks columns:\n", name_marks)
print("\nStudents with Grade A:\n", grade_A_students)

First 3 rows:
       Name  Age Grade  Marks
0    Alice   20     A     85
1      Bob   22     B     78
2  Charlie   19     A     92

Name and Marks columns:
       Name  Marks
0    Alice     85
1      Bob     78
2  Charlie     92
3    David     65
4      Eva     74

Students with Grade A:
       Name  Age Grade  Marks
0    Alice   20     A     85
2  Charlie   19     A     92